* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper-main-div {
  background: linear-gradient(to right, #c33764, #1d2671);
}

.divdiv {
  background: linear-gradient(to right, #09203f, #537895);
}
